

  .reports {
    background-color: #ffffff;
    padding: 10px 6px 6px 28px; /* Increased padding for better spacing */
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; /* Smooth edges for a modern feel */
    /* margin-left: -177px; */
  
  }